dominate==2.1.16
Flask==0.10.1
Flask-Bootstrap==3.3.5.7
Flask-PyMongo==0.4.0
Flask-Script==2.0.5
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
pymongo==2.8.1
visitor==0.1.2
Werkzeug==0.11.2
wheel==0.26.0
