.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.selectedFeatureLine {
    stroke: red;
    stroke-width: 0.75;
    stroke-dasharray: 5, 5;
}
