/* MAIN PAGE CSS */

#image-column {
    overflow: scroll;
    height: 0;
}

.load-overlay {
    pointer-events: none;
}

.container {
    width: 95%;
}

.navbar-inverse {
    border-radius: 0 !important;
    border-color: #222222;
}

#filter-button.filtering {
    color: red;
}

.sb-right {
    margin-top: 50px;
}

.sb-active {
    overflow: hidden;
}

.panel {
    background-color: #222222;
}

.panel-heading a {
    color: #9d9d9d;
}

.panel-body label,
.panel-body p {
    color: #ffffff;
}

.panel-heading .active {
    background-color: #000000;
}

/* resize font-awesome icons (they all belong to the fa class) */
.fa {
    font-size: 1.3em;
}

.filter-arrows,
.submit-buttons {
    width: 100%;
    text-align: justify;
}

#filter-add,
#filter-remove {
    color: #9d9d9d;
}

#filter-add:hover,
#filter-remove:hover {
    color: #ffffff;
}

#gene-select,
#gene-selected {
    margin-top: 10px;
    width: 100%;
    length: 50%;
}

#gene-filter-text {
    margin-top: 10px;
    width: 100%;
}

#filter-reset {
    margin-left: 15px;
}

.header {
    font-weight: bold;
}

.sample-image {
    margin: 1px 1px -3px 1px;
    padding: 0 0 0 0;
    height: 100%;
}

/* Centered columns for grid display in Nebula */
.col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
}

/* Centered rows for grid display in Nebula */
.row-centered {
    text-align: center;
}

/* GENERAL PLOT CSS */

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

/* HISTOGRAM CSS */

.bar rect {
    fill: steelblue;
    shape-rendering: crispEdges;
}

.bar text {
    font: 10px sans-serif;
    fill: white;
}

/* LINEPLOT CSS */

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

/* NEIGHBOUR PLOT CSS */

.pcaplot {
    height: 500px;
}

.scatterpt {
    fill: steelblue;
    stroke: white;
    opacity: 1;
    stroke-width: 1;
}

.scatterpt.activept {
    fill: red !important;
}

.scatterpt.neighbourpt {
    fill: #ffb323;
}

.scatterpt.filtered {
    opacity: 0.25;
    stroke-width: 0;
}

/* TOOLTIP CSS */

.d3-tip {
    font-weight: bold;
    padding: 8px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 2px;
    z-index: 999999;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 12px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

.d3-tip.n:after {
    margin: -3px 0 0 0;
    top: 100%;
    left: 0;
}
