/* MAIN PAGE CSS */

.load-overlay {
    pointer-events: none;
}

.container {
    width: 95%;
}

.navbar-inverse {
    border-radius: 0 !important;
    border-color: #222222;
}

/* Create some space between tab and tab content */
.tab-pane {
    margin-top: 10px;
}

/* Override default colours for nav-stacked class */
.nav-stacked li a {
    color: #9d9d9d;
}

.nav-stacked li a:hover {
    color: #ffffff;
    background-color: #222222;
}

.nav-stacked li a:active,
.nav-stacked li a:focus {
    background-color: #000000;
}

/* Force sidebar button to use 100% of sidebar width */
.sidebar-container {
    width: 100%;
}

/* Override speed of collpase menu */
.sidebar-container .collapsing {
    -moz-transition : height 400ms ease;
    -webkit-transition : height 400ms ease;
    -o-transition : height 400ms ease;
    transition : height 400ms ease;
}

.filter-content label {
    color: #ffffff;
    margin-top: 10px;
}

.filter-arrows,
.submit-buttons {
    width: 100%;
    text-align: justify;
}

#filter-add,
#filter-remove {
    color: #9d9d9d;
}

#filter-add:hover,
#filter-remove:hover {
    color: #ffffff;
}

#gene-select,
#gene-selected {
    margin-top: 10px;
    width: 100%;
    length: 50%;
}

#gene-filter-text {
    margin-top: 10px;
    width: 100%;
}

.header {
    font-weight: bold;
}

.thumb {
    margin: 1px 1px -3px 1px;
    padding: 0 0 0 0;
    width: 150px;
    height: 150px;
}

.selected-image-display {
    margin: 1px 1px -3px 1px;
    padding: 0 0 0 0;
    width: 300px;
    height: 300px;
}

/* Centered columns for grid display in Nebula */
.col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
}

/* Centered rows for grid display in Nebula */
.row-centered {
    text-align: center;
}

/* Plot all D3 SVGs to center of their divs */
.plotbox {
    text-align: center;
}

/* GENERAL PLOT CSS */

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

/* HISTOGRAM CSS */

.bar rect {
    fill: steelblue;
    shape-rendering: crispEdges;
}

.bar text {
    font: 10px sans-serif;
    fill: white;
}

/* LINEPLOT CSS */

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

/* NEIGHBOUR PLOT CSS */

.gallery {
    height: 500px;
    overflow: scroll;
}

.pcaplot {
    height: 500px;
}

.scatterpt {
    fill: steelblue;
    stroke: white;
}

.activept {
    fill: red;
}

.neighbourpt {
    fill: #ffb323;
}

/* TOOLTIP CSS */

.d3-tip {
    font-weight: bold;
    padding: 8px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 2px;
    z-index: 999999;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 12px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

.d3-tip.n:after {
    margin: -3px 0 0 0;
    top: 100%;
    left: 0;
}
