/* NEIGHBOUR PLOT CSS */

#neighbourplot {
  position: relative;
}

.tick line {
  opacity: 0.2;
}

.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

#neighbourplot-options {
  text-align: left;
}

#dimensionality-reduction-select {
  width: 10%;
}
