<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <!-- HEADER -->
        <div class="navbar-header">
            <a class="navbar-brand" href="javascript:void(0);">Microscopium</a>
        </div>

        <!-- RIGHT NAV-->
        {% if screen_id %}
            <ul class="nav navbar-nav navbar-right hidden">
                <li>
                    <a href="#" id="back-button">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                </li>
                <li>
                    <a href="#" id="forward-button">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </li>
                <li>
                    <a href="#" id="filter-button" class="sb-toggle-right">
                        <i class="fa fa-filter"></i>
                    </a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>
